<h1>About Me</h1>
<hr>
<div class= "row">
  <div class= "col-md-4">
    <%= image_tag "profile_pic.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class= "col-md-8">
    <p>I am a high school senior currently attending West High School.</p>
  </div>
</div>
